<!DOCTYPE HTML>
<html>
<head>
<title>Game Index</title>
</head>

<body>
    <h1>Video Games Index:</h1>
    <ul><%@video_games.each do |vg|%>
    <li><%= vg.title%></li>
    <% end%>
    </ul>

    <p><a href='/'>Return to home page</a><p>


</body>

</html>