<!DOCTYPE HTML>
<html>
<head>
<title>Add a New Game</title>
</head>

<body>

        <form action="/video_games" method="POST">
        <label for="user_id">User</label>
        <select name="user_id">
            <% User.all.each do |user| %>
                <option value=<%= user.id%>>
                    <%= user.name %>
                </option>
            <% end %>
        </select>
        <label for="title">Game Title</label>
        <input type="text" name="title">
        <label for="genre">Genre</label>
        <select name = "genre">
            <option value="jrpg">JRPG</option>
            <option value="RPG">RPG</option>
            <option value="fighter">Fighter</option>
            <option value="action/adventure">Action/Adventure</option>
            <option value="racing">Racing</option>
            <option value="mmorpg">MMORPG</option>
            <option value="fps">FPS</option>
            <option value="puzzle">Puzzle</option>
            <option value="rts">Realtime Strategy</option>
            <option value="moba">MOBA</option>
            <option value="platformer">Platformer</option>
        </select>
        <input type="submit">  

    </form>

</body>

</html>