<!DOCTYPE HTML>
<html>
<head>
<title>Video Game Detail Page</title>
</head>

<body>
    <img src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/03/video-games-and-block-chain.jpeg" alt="Games" style="width:260px;height:130px;">
    <h2>Title Name: <%= @video_game.title %></h2>
    <h3>Game Genre: <%= @video_game.genre%></h3>



    <a href="/video_games">Back To Index Page</a>


</body>

</html>