<!DOCTYPE HTML>
<html>
<head>
<title>About Page</title>
</head>

<body>

    <h1>About page</h1>
    <p>This app was created to track videogame enthusiast's game collections. You can add yourself into our list of users, and add your favorite games.</p>
   </br>
  
    <p><a href='/users'>See our users</a><p>
    <p><a href='/video_games'>See our video games</a><p>
    </br>
    


</body>

</html>