<!DOCTYPE HTML>
<html>
<head>
<title>Users Index</title>
</head>

<body>
    <h1>Users Index:</h1>
    <ul><%@users.each do |user|%>
    <li><%= user.name%></a></li>
    <% end%>
    </ul>
    <p><a href='/users/new'>Add a new user</a><p>
    </br>
    


</body>

</html>