<!DOCTYPE HTML>
<html>
<head>
<title>Create a New User</title>
</head>

<body>
    <h1>Create a New User</h1>
    <form action="/users" method="POST">
    <label for="Name"><Name></label>
    <input type="text" name="name"></input>
    <input type="submit"></input>
    </form>
</body>

</html>